{
  "package": {
    "name": "easyschedule-liquibase",
    "repo": "maven",
    "subject": "jubicoy"
  },

  "version": {
    "name": "${TRAVIS_TAG}",
    "desc": "Tagged build",
    "released": "${RELEASED_DATE}",
    "vcs_tag": "${TRAVIS_TAG}",
    "attributes": [],
    "gpgSign": false
  },

  "files": [
    {
      "includePattern": "easyschedule-liquibase/target/(easyschedule-liquibase-${TRAVIS_TAG}(.*)\.jar)",
      "uploadPattern": "/fi/jubic/easyschedule-liquibase/${TRAVIS_TAG}/$1"
    },
    {
      "includePattern": "easyschedule-liquibase/(pom.xml)",
      "uploadPattern": "/fi/jubic/easyschedule-liquibase/${TRAVIS_TAG}/easyschedule-liquibase-${TRAVIS_TAG}.pom"
    }
  ],
  "publish": true
}
